@media (min-width: 768px) {
  #a-login {
    font-size: 18px;
    text-decoration: none;
  }

  #subs-btn {
    font-size: 15px;
  }

  #nav-menu {
    font-size: 26px;
  }

  .opinion {
    border-bottom: 0 solid !important;
  }

  .magazine-content {
    min-height: 225px;
  }

  .in-the-mag {
    max-width: 199px;
  }

  .in-the-mag img {
    width: 100%;
    min-width: 166px;
  }

  .news-section {
    min-width: auto;
  }
}
