@media (min-width: 768px) {
  #a-login {
    font-size: 18px;
    text-decoration: none;
  }

  #subs-btn {
    font-size: 15px;
  }

  #nav-menu {
    font-size: 26px;
  }

  .opinion {
    border-bottom: 0 solid !important;
  }
}
