main {
    margin-top: 5em;
    background-color: #f4f5f7;
}

main h1 {
    font-size: 16px;
    color: #a0a0a0;
    font-weight: bold;
}

main p {
    font-family: Arial, Helvetica, sans-serif;
}

main a:hover {
    text-decoration: none;
}
.navbar {
    background-color: red;
}

.navbar-brand img {
    height: 20px;
}

#subs-btn {
    font-size: 10px;
    background-color: yellow;
    border-radius: 60px;
}

.cards {
    min-width: 290px;
    height: 100%;
}

.cards img {
    width: 100%;
    height: 100%;
}

#h-title {
    color: black;
    font-size: 22px;
    margin-top: -1em;
}

#h-title:hover {
    text-decoration: underline red;
}

.pos-div {
    background-color: rgba(255, 255, 255, 0.8);
    display: block;
    position: relative;
    bottom: 33px;
    width: 59.8px;
    font-size: 17px;
    text-align: center;
}

.debate-img {
    width: 63px;
    height: 63px;
}

.debate-border-pink {
    border-bottom: 4px solid #f92859;
}

.debate-border-blue {
    border-bottom: 4px solid #1c87fb;
} 

.debate-text{
    font-size: 17px;
    color: black;
}

.debate-text a {
    color: black;
}

#pink-h:hover {
    color: #f92859
}

.debate-text-p {
    font-size: 14px;
    color: black;
}


.vs-p {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 32px;
    font-size: 14px;
    color: #d6d6d6;
    background-color: black;
    font-family: "Roboto Condensed", sans-serif;
    z-index: 99;
}

div .vs {
    height: 32px;
    background-color: none;
}

div .vs::before {
    border-bottom: 1px solid #d9d9d9;
    content: " ";
    height: 14px;
    width: 95%;
    display: block;
    position: absolute;
    margin: 0 2em;
   
}

div .vs::after {
    border-bottom: 1px solid #d9d9d9;
    content: " ";
    height: 16px;
    width: 95%;
    display: block;
    position: absolute;
    margin: 0 2em;
}

